<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Abhigyaan"
        tools:targetApi="31">
        <activity
            android:name=".EnglishBatchActivity4"
            android:exported="false"
            android:label="@string/title_activity_english_batch4"
            android:theme="@style/Theme.Abhigyaan.NoActionBar" />
        <activity
            android:name=".ProjectLamaniActivity4"
            android:exported="false"
            android:label="@string/title_activity_project_lamani4"
            android:theme="@style/Theme.Abhigyaan.NoActionBar" />
        <activity
            android:name=".MessBatchActivity4"
            android:exported="false"
            android:label="@string/title_activity_mess_batch4"
            android:theme="@style/Theme.Abhigyaan.NoActionBar" />
        <activity
            android:name=".ProjectDishaActivity4"
            android:exported="false"
            android:label="@string/title_activity_project_disha4"
            android:theme="@style/Theme.Abhigyaan.NoActionBar" />
        <activity
            android:name=".EveningBatchActivity4"
            android:exported="false"
            android:label="@string/title_activity_evening_batch4"
            android:theme="@style/Theme.Abhigyaan.NoActionBar" />
        <activity
            android:name=".EveningBatchActivity3"
            android:exported="false"
            android:label="@string/title_activity_evening_batch3"
            android:theme="@style/Theme.Abhigyaan.NoActionBar" />
        <activity
            android:name=".EveningBatchActivity2"
            android:exported="false"
            android:label="@string/title_activity_evening_batch2"
            android:theme="@style/Theme.Abhigyaan.NoActionBar" />
        <activity
            android:name=".AboutVerticalsActivity"
            android:exported="false" />
        <activity
            android:name=".EnglishBatchActivity"
            android:exported="false" />
        <activity
            android:name=".ProjectLamaniActivity"
            android:exported="false" />
        <activity
            android:name=".MessBatchActivity"
            android:exported="false" />
        <activity
            android:name=".VerticalsActivity"
            android:exported="false" />
        <activity
            android:name=".feedbackActivity"
            android:exported="false" />
        <activity
            android:name=".coordinationActivity"
            android:exported="false" />
        <activity
            android:name=".aboutActivity"
            android:exported="false" />
        <activity
            android:name=".galleryActivity"
            android:exported="false" />
        <activity
            android:name=".eventsActivity"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
        <activity
            android:name=".features"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".userprofile" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".SIGNUP" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>